html, body{
    overflow: auto !important;;
    position: inherit!important;
}

img.cs-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.case-study-box {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    flex-wrap: wrap;
}

h2.cs-title {
    font-size: 22px;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    border-bottom: 0px solid #ccc;
    font-family: "BebasNeueRegular";
    letter-spacing: 0.96px;
}

h3.cs-category {
    color: #909090;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.csd-box {
    display: flex;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #909090;
}

p.cs-user {
    font-size: 15px;
    padding-right: 20px;
    color: #0050a4;
}

p.cs-date {
    font-size: 15px;
}

.knowmore {
    margin: 5px 0;
    cursor: pointer;
    font-size: 15px;
}

.sprite.knwmorearw {
    margin-left: 8px;
}

img.csd-banner {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

h3.csd-category {
    color: #909090;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 0px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

h1.csd-title {
    color: #2c2c2c;
    font-size: 42px;
    font-family: "BebasNeueRegular";
    line-height: 48px;
    padding: 0 0 5px;
}

h3.csdt-title {
    font-size: 24px;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;
    text-transform: uppercase;
}

.csd-contnet.detail {
    padding-left: 100px;
    margin-bottom: 60px;
}

p.csdt-content {
    font-size: 17px;
    font-weight: 400;
    color: #787878;
    line-height: 26px;
    text-align: justify;
    padding-top: 5px;
}

h3.csdt-title2 {
    font-size: 24px;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 30px;
}

span.joc-count {
    color: #2c2c2c;
    font-weight: bold;
}

.cr-title-box {
    margin-top: 40px;
}

.case-study-item {
    display: flex;
    padding: 15px 20px;
    background: #fff !important;
    border: 1px solid #e5e6e7;
    border-left: 8px solid #0050a4;
    box-shadow: 3px 7px 3px -6px #aaa;
    width: 48%;
    margin-bottom: 40px;
}

.cs-image-box {
    width: 20%;
}

.cs-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.cl-location-box {
    display: flex;
    margin-top: 12px;
}

img.location-img {
    width: 26px;
    margin-right: 10px;
}

img.time-img {
    /* width: 26px; */
    margin-right: 10px;
    height: 20px;
}

p.cl-location {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.footerwrapper {
    position: relative;
}
