html, body{
    overflow: auto !important;;
    position: inherit!important;
}

img.cs-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.case-study-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2.cs-title {
    font-size: 22px;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    border-bottom: 0px solid #ccc;
    font-family: "BebasNeueRegular";
    letter-spacing: 0.96px;
}

h3.cs-category {
    color: #909090;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.csd-box {
    display: flex;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #909090;
}

p.cs-user {
    font-size: 15px;
    padding-right: 20px;
    color: #0050a4;
}

p.cs-date {
    font-size: 15px;
}

.knowmore {
    margin: 5px 0;
    cursor: pointer;
    font-size: 15px;
}

.sprite.knwmorearw {
    margin-left: 8px;
}

.footerwrapper {
    position: relative;
}

