#once-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    z-index: 999999!important;
}

#once-popup .inner {
    background: #ffffff;
    padding: 0px;
    width: 570px;
    max-width: 90%;
    margin: 50px auto;
    height: 450px;
    position: relative;
    top: 5%;
}

#once-popup #popup-close {
    padding: 0px;
    max-width: 90%;
    margin: 0px auto;
    position: absolute;
    right: 12px;
    font-size: 32px;
    cursor: pointer;
    background-color: #ffffff;
    width: 35px;
    border-radius: 0px 0px 15px 15px;
  
}

img.popup-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.left-popup {
    width: 50%;
   
}

.right-popup {
    width: 50%;
    padding: 10px 30px 30px 30px;
    position: relative;
}

.event-content {
    text-align: center;
    padding: 10px 25px 40px 25px;
}


h1.pop-heading {
    font-size: 26px;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
    border-bottom: 0px solid #ccc;
    font-family: "BebasNeueRegular";
    letter-spacing: 0.96px;

}

.cl-location-box {
    display: flex;
    margin-top: 18px;
    justify-content: center;
}

p.cl-location {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.location-img {
    width: 26px;
    margin-right: 10px;
}

p.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

img.time-img {
    /* width: 26px; */
    margin-right: 10px;
    height: 20px;
}

a.db-pop {
    background: #0050a4;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-family: "Roboto Condensed";
    letter-spacing: 1px;
    width: 280px;
    margin-top: 24px;
    display: block;
    margin: auto;
    margin-top: 24px;
}

span.close-icon {
    color: red;
}


.pop-content{
    position: relative;
    background-color: #ffffff;
}


.popup-logo {
    box-shadow: 0px 0px 12px 4px #d0d0d057;
    width: 130px;
    height: 130px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -75px;
    z-index: 99;
    position: relative;
    border-bottom: 7px solid #0050a4;
}

img.popup-logo-img {
    width: 95%;
}

@media screen and (max-width: 600px){

    img.popup-image {
        height: 240px;
    }

    .popup-logo {
        width: 115px;
        height: 115px;
    }

    h1.pop-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .event-content {
        text-align: center;
        padding: 10px 20px 30px 20px;
    }

}