.fp-tableCell.fv-display {
    display: flex;
}

video.full-video {
    width: 100%;
    height: auto;
    text-align: center;
    object-fit: none;
    background-color: #ffffff;
    margin-top: 20px;
}

.counter-box-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.counter-box {
    width: 60%;
    padding-right: 10%;
    position: absolute;
    top: 450px;
    padding-left: 6%;
}

.counter-b1 h3 {
    color: #434343;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    font-family: "BebasNeueRegular";
}

.counter-b2 h3 {
    color: #434343;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    font-family: "BebasNeueRegular";
}

.counter-b3 h3 {
    color: #434343;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    font-family: "BebasNeueRegular";
}

h4.ct-heading {
    color: #838383;
    font-size: 17px;
    font-weight: 500;
    padding-top: 5px;
}

.servdet3sld {
    background: #ffffff;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 26px !important;
}

.newsslidercontent .bx-viewport {
    overflow: hidden!important;
  }

.overviewtxtblk {
    top: 190px;
}

.media-link {
    transform: skew(23deg);
    margin-top: 10px;
}
  
a.home-media-link {
    color: #ffffff;
}

h2.main-headings {
    font-size: 60px;
    color: #434343;
    padding: 0 0 15px;
    font-weight: bold;
    text-align: center;
}

.testimonial-container {
    width: 88%;
    margin: auto;
    margin-top: 100px;
}

